<h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p>


<h1>Mostrando info de la BD</h1>

<% @movie.each do |p| %>
   <h1> <%= p.name %></h1>
   <h1> <%= p.synopsis %></h1>
   <h1> <%= p.director %></h1>
<% end %>